{% load static %}
    <footer class="footer mt-5 py-3 pb-5" style="background-color: rgb(78, 107, 131);">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2023 Imam Muhammed Ibn Saud Islamic University. All rights reserved.</p>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline text-right">
                        <li class="list-inline-item"><a style="text-decoration: none; color: white;" href="{% url 'contact_us' %}">Contact Us</a></li>
                        <li class="list-inline-item"><a style="text-decoration: none; color: white;" href="{% url 'terms_of_use' %}">Terms of Use</a></li>
                        <li class="list-inline-item"><a style="text-decoration: none; color: white;" href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
