.draggable {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: move;
}

.droppable {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.droppable .assigned-lecturer {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}
